<div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"> One Minute Pitch </a>
            </div>
            <div class="navbar-collapse collapse">
              <div class="dropdown">
              <button class="dropbtn">Categories</button>
              <div class="dropdown-content">
                <a href="{{url_for('main.pitches',category='pickup lines')}}">PickUp Lines</a>
                <a href="{{url_for('main.pitches',category='product')}}">Product Pitches</a>
                <a href="{{url_for('main.pitches',category='jokes')}}">Jokes Pitches</a>
                <a href="{{url_for('main.pitches',category='motivational')}}">Motivational Pitches</a>
                <a href="{{url_for('main.pitches',category='educational')}}">Educational Pitches</a>
                <a href="{{url_for('main.pitches',category='technology')}}">Technology Pitches</a>
                <a href="{{url_for('main.pitches',category='family')}}">Family Pitches</a>
              </div>
            </div>
                <ul class="nav navbar-nav navbar-right">
                      {% if current_user.is_authenticated %}
                      <li><a a href="{{url_for('main.profile',uname=current_user.username)}}">Logged in as: {{current_user.username}}</a></li>
                      <li><a href="{{url_for('main.profile',uname=current_user.username)}}">View Profile</a></li>
                      <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                      {% else %}
                      <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                      {%endif%}
                </ul>
            </div>

        </div>
    </div>
